Flask==0.10.1
Babel==2.1.1
argparse==1.2.1
debtcollector==1.0.0
iso8601==0.1.11
monotonic==0.4
msgpack-python==0.4.6
netaddr==0.7.18
netifaces==0.10.4
oslo.config==3.0.0
oslo.i18n==3.0.0
oslo.serialization==2.0.0
oslo.utils==3.0.0
pbr==1.8.1
prettytable==0.7.2
python-keystoneclient==1.8.1
python-novaclient==2.35.0
pytz==2015.7
requests==2.8.1
simplejson==3.8.1
six==1.10.0
stevedore==1.9.0
wrapt==1.10.5
wsgiref==0.1.2
